.details-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: #fff;
  padding: 20px 48px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 46rem;
  margin: 36px auto;
}

.details-title {
  text-align: center;
}

.details-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details-group {
  display: flex;
  justify-content: space-between;
}

.details-label {
  font-weight: bold;
}

.details-data {
  color: #555;
}
