.StudentMainContainer {
  width: 100%;
  background-color: #f4e4ff;
}

.StudentSectionContainer {
  display: flex;
  flex-direction: row; /* Default layout for larger screens */
}

/* Media queries */

/* For tablets and small desktops */
@media screen and (max-width: 1024px) {
  .StudentSectionContainer {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align items */
  }
}

/* For large mobile phones and tablets */
@media screen and (max-width: 768px) {
  .StudentSectionContainer {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align items */
  }
}

/* For mobile phones */
@media screen and (max-width: 480px) {
  .StudentSectionContainer {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align items */
    padding: 10px; /* Add some padding for better readability */
  }
}
